.con{
    margin-top: 200px;
    text-align: center;

}
p1{
    font-size: 40px ;
    font-style: bold;

}
p2{
    font-size: 35px;
    font-style: bold;
}
body{
    background-color: rgb(255, 255, 255);
}
h1{
    font-size: 50px;
}
.navbar ul{
    list-style: none;
    padding: 0;
    margin:0;
    
}
.navbar li{
    display: inline-block;
    
}
.navbar a{
    text-align: center;
    text-decoration: none;
    color: rgb(247, 238, 246);
    background-color: rgb(9, 92, 45);
    width: 100%;
    display: block;
    font-weight: bold;
    text-transform: capitalize;
    padding: 15px 10px

}
.navbar a:hover{
    color: rgb(252, 226, 31);
}
span{
    font-size: 50px;
    color: brown;
}
.head{
    display: flex;
    background-color: rgb(206, 229, 126);
    justify-content: space-between;
}
