.navbar ul{
    list-style: none;
    padding: 0;
    margin:0;
    
}
.navbar li{
    display: inline-block;
    
}
.navbar a{
    text-align: center;
    text-decoration: none;
    color: rgb(247, 238, 246);
    background-color: rgb(9, 92, 45);
    width: 100%;
    display: block;
    font-weight: bold;
    text-transform: capitalize;
    padding: 15px 10px;

}
.navbar a:hover{
    color: rgb(222, 196, 26);
}
.head{
    display: flex;
    background-color: rgb(206, 229, 126);
    justify-content: space-between;
}
span{
    font-size: 50px;
    color: brown;
    font-family:'Times New Roman', Times, serif;
}
.food1{
    display:flex;
}
.food{
    
    margin-right:20px ;
}
h1{
    font-size: 50px;
}
.mrg{
    margin-top: 10px;
}
button{
    background-color:rgb(63, 63, 135) ;
    color: white;
    padding: 10px;
    font-size: 20px;
    margin-left: 50px;

}
button:hover{
    color:rgb(222, 196, 26)
}
.fish{
    display: flex;

}
.con1 p{
    font-size: 45px;
    color:chocolate;
    padding: 5px;
    margin-left: 10px;
    margin-top: 1px;
}
.para1 p{
    font-size: 45px;
    color:chocolate;
    padding: 5px;
    margin-left: 10px;
    margin-top: 1px;
}
.chicken{
    display: flex;
}
.barbieque p{
    font-size: 45px;
    color:chocolate;
    padding: 5px;
    margin-left: 10px;
    margin-top: 1px;
}
h2{
    font-size: 50px;
}
.naan{
    display:flex;
}
.naanpara p{
    font-size: 45px;
    color:chocolate;
    padding: 5px;
    margin-left: 10px;
    margin-top: 1px;
}

